.book_shelf {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin: auto;

}
.book_table {
    width: 100%;
    border-top: black;
}
tr {
    padding-top:1rem;
    
}
td {
    vertical-align: top;
    text-align:left;
}