.book_shelf {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 88%;
    margin: auto;

}
.book_table {
    width: 100%;
    border-top: black;
    background: radial-gradient(cyan 1%, transparent 100%);
}
td {
    padding-top:1rem;
    vertical-align: top;
    text-align:left;
}