* {
    margin:0;
    padding:0;
    border:0;
}
html{
    color-scheme: dark light;
    min-height: 100vh;
}
/*CSS Functions*/
.two_column_grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
/*Navigation bar*/
nav {
    position:sticky;
}
.nav {
    background-color:transparent;
    position:sticky;
    display:flex;
    max-height:100px;
    flex:1 1 0;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:2;
}
.nav > div {
    padding:5px;
    margin:5px;
}
.nav img {
    max-width:100%;
    height:100%;
}
.logo {
    max-height: 25px;
    flex:0 0 content;
}
.space {
    flex:55;
}
.links {
    flex:1 1 content;
}
.links > a {
    display:flex table-column;
    vertical-align:middle;
    text-decoration:none;
    color:white;
    background:rgb(46, 43, 43);
}
#github_link {
    max-height: 25px;
}
/*End Navigation Bar*/
/*Banner*/
.banner {
    min-height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    width:fit-content;
    text-align:center;
}
/*Footer*/
.footer_main {
    min-height:5vh;
    background: transparent;
    display: grid;
    gap:1px;
    border: 1px beige;
    grid-template-columns: 1fr 1fr 1fr;

}
/*Tools Page*/
.resources-grid {
    display:grid;
    gap:5px;
    grid-template-columns:repeat(3, 1fr);
}
.resources-grid > div {
    border:solid black 2px;
}
.ai-tools > h4 {
    font-size:16px;
}
/*About Me*/