.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home {
    width: fit-content;
}
.space_around {
    display: flex;
    justify-content: space-around;
    align-items: right;
}
.button_flavor button{
    color: purple;
    font-size: 16px;
}
/* Banner Customization */
.banner {
    background-color: gray;
    height: 40vh;
}